<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>

<body>
      
 
    <table>
        <form action="/department/add" method="post">
            <tr>
                <td>
                    Department name 
                </td>
                <td>
                    <input type="text" name="dpt_name" id="dpt_name">

                </td>
            </tr>
            <tr>
                <td>
                    Department hod
                </td>
                <td>
                    <input type="text" name="dpt_hod" id="dpt_hod">
                </td>
            </tr>
            <tr>
                <td>
                    Department phonenumber
                </td>
                <td>
                    <input type="text" name="dpt_phone" id="dpt_phone">
                </td>
            </tr>
             <tr>
                <td>
                 
                </td>
                <td>
                    <input type="submit" value="Add">
                </td>
            </tr>
        </form>
    </table>
</body>
</html>